@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'poppins', sans-serif;

.container{
    display: block;
    width: 100vw;
    height: 100vh;
    left:0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-image: url(../Img/home-bg.jpg);

    .btn{
        z-index: 999;
        background-color: #009fe3;
        padding: 10px;
        border-radius: 10px;
        position: relative;
        top:50%;
        left: 50%;
        text-decoration: none;
        color: white;
        transition: all 250ms ease-in-out;
        span{
            vertical-align: middle;
        }
    }
    .btn:hover{
        background-color: #1cbcd4af;
        transition: all 250ms ease-in-out;
    }
}
.nav{
    position: fixed;
    background-color: white;
    width: 100%;
    display: inline-block;
    img:nth-child(2){
        margin-left: 25%;
    }
    .logo{
        cursor: pointer;
        transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .logo:hover{
        transform: scale(1.08);
        transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

.footer{
    width: 100%;
    position: fixed;
    z-index: 99;
    bottom: 0;
    background: #3d3d3d;
    color: white;
    height: 38px;
    line-height: 40px;
    padding-left: 5px;
    font-size: 15px;
    text-align: center;

    .pull-left{
        float:left !important;
    }
    .pull-right{
        float: right !important;
        margin-right: 30px;
    }
}
}